.container__inputfield {
  background: var(--bg-header-input);
  width: 100%;
  padding: 0.75rem 1rem;
}

.inputfield__form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.inputfield__form__input {
  position: relative;
  background: var(--bg-input);
  width: calc(100% - 1rem);
  height: 2.55rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  outline: 0;
  color: var(--color-text);
  text-indent: 1.75rem;
  font-size: 0.85rem;
  border: 0.1rem solid var(--color-border);
  transition: all 300ms ease;
}

.form__icon {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #cde9f5;
  border-radius: 100%;
  transition: all 300ms ease;
}

.inputfield__form__input:focus,
.inputfield__form__input:active {
  text-indent: 0.5rem;
  font-size: 1.25rem;
  border: 0.1rem solid #09f;
  box-shadow: 0 0.15rem 0.5rem var(--active-shadow);
  background: var(--bg-input);
}

.inputfield__form__input::placeholder,
.inputfield__form__input::placeholder {
  color: var(--color-text);
}

.inputfield__form__input:focus::placeholder,
.inputfield__form__input:active::placeholder {
  opacity: 0;
  transition: all 500ms ease;
}

.inputfield__form__input:focus + .form__icon,
.inputfield__form__input:active + .form__icon {
  transform: translate(-0.95rem, -1rem);
  width: 1.15rem;
  height: 1.15rem;
}
