.App {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  height: 80%;
  width: 20%;
  min-width: 330px;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem #1c1c1c;
}
